@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
.nav{
    display: flex;
    background-color: aliceblue;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}
.nav-links{
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}
.nav-links li{
    margin-right: 2rem;
}

.logo{
    margin-left: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: maroon ;
    font-family: 'Stylish', sans-serif;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.448);
}

.active{
    color: black;
    font-weight: bold;
}